<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" media="screen and (max-width: 768px)" href="/static/mobile.css">
  <title>Aldes Quintero | About me</title>
</head>
<body>
  <header>
    <nav id="navbar" class="navbar-2">
      <div class="container">
        <h1 class="logo-2">Aldes Quintero <span class="primary-text"></span></h1>
        <ul class="font-nav">
          <li><a th:href="@{/index}">Home</a></li>
          <li class="current"><a th:href="@{/about-me}">About me</a></li>
          <li><a th:href="@{/contact}">Contact</a></a></li>

        </ul>
      </div>
    </nav>
  </header>

  <section id="subtitle">
    <div class="container">
      <div class="subtitle-content p-3">
        <h2>Me</h2>
        <p class="large">Hello! I'm Aldes Quintero, a technology enthusiast and self-taught learner. I'm dedicated to expanding my horizons and surpassing the limits of what's possible.</p>

          <P>You can see my skills below.</P>
        </p>
      </div>
    </div>
  </section>

  <section class="experience">
    <div class="container">
      <div class="experience-img p-3">
        <img class="img-features-home" th:src="@{/img/Python-logo-notext.png}" alt="Python Logo">
      </div>
      <div class="experience-txt">
        <h4>Python Programming</h4>
        <p>I have intermediate knowledge of Python programming, and the framework I use the most is Flask.</p>
 
        </div>
      </div>
    </div>
  </section>

  <section class="experience-2">
    <div class="container">
      <div class="experience-txt">
        <h4>Linux (Fedora, Debian, Ubuntu)</h4>
        <p>I have intermediate knowledge in using Linux operating systems, such as Fedora, Ubuntu, Debian.</p>
        <div class="btn-experience">
        </div>
      </div>
      <div class="experience-img p-3">
        <img class="img-features-home" th:src="@{/img/fedora-ubuntu.png}" alt="">

      </div>
    </div>
  </section>

  <section class="experience">
    <div class="container">
      <div class="experience-img p-3">
        <img class="img-features-home" th:src="@{/img/RoutingandSwitching.jpg}" alt="">
      </div>
      <div class="experience-txt">
        <h4>Routing and Switching (Basic)</h4>
        <p>I have knowledge of basic configurations in routers and switches, also some wiring between ports</p>
        <div class="btn-experience">
        </div>
      </div>
    </div>
  </section>

  <hr>

  <footer id="main-footer">
    <div class="social">
      <ul>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-twitter-square"></i></li>
      </ul>
    </div>
    <p class="p-3">&copy; Aldes Quintero, 2024</p>
  </footer>

</body>
</html>
